In [2]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords 
import nltk

In [3]:
movies=pd.read_csv('dataset/dataset.csv')
links=pd.read_csv('dataset/ml-latest-small/links.csv')

In [4]:
movies.head(10)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811
5,667257,Impossible Things,"Family,Drama",es,"Matilde is a woman who, after the death of her...",14.358,2021-06-17,8.6,255
6,129,Spirited Away,"Animation,Family,Fantasy",ja,"A young girl, Chihiro, becomes trapped in a st...",92.056,2001-07-20,8.5,13093
7,730154,Your Eyes Tell,"Romance,Drama",ja,"A tragic accident lead to Kaori's blindness, b...",51.345,2020-10-23,8.5,339
8,372754,Dou kyu sei – Classmates,"Romance,Animation",ja,"Rihito Sajo, an honor student with a perfect s...",14.285,2016-02-20,8.5,239
9,372058,Your Name.,"Romance,Animation,Drama",ja,High schoolers Mitsuha and Taki are complete s...,158.270,2016-08-26,8.5,8895

In [5]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [6]:
movies.count()

id                   10000
title                10000
genre                 9997
original_language    10000
overview              9987
popularity           10000
release_date         10000
vote_average         10000
vote_count           10000
dtype: int64

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.3+ KB

In [8]:
links.head(10)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
5        6  113277    949.0
6        7  114319  11860.0
7        8  112302  45325.0
8        9  114576   9091.0
9       10  113189    710.0

In [9]:
links.columns

Index(['movieId', 'imdbId', 'tmdbId'], dtype='object')

In [10]:
links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB

In [11]:
movies.describe()

                  id    popularity  vote_average    vote_count
count   10000.000000  10000.000000  10000.000000  10000.000000
mean   161243.505000     34.697267      6.621150   1547.309400
std    211422.046043    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.750000      9.154750      6.100000    315.000000
50%     30002.500000     13.637500      6.600000    583.500000
75%    310133.500000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000

In [12]:
list_stopwords = stopwords.words("english")

In [13]:
movies.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [14]:
links.describe()

             movieId        imdbId         tmdbId
count    9742.000000  9.742000e+03    9734.000000
mean    42200.353623  6.771839e+05   55162.123793
std     52160.494854  1.107228e+06   93653.481487
min         1.000000  4.170000e+02       2.000000
25%      3248.250000  9.518075e+04    9665.500000
50%      7300.000000  1.672605e+05   16529.000000
75%     76232.000000  8.055685e+05   44205.750000
max    193609.000000  8.391976e+06  525662.000000

In [15]:
links.isnull().sum()

movieId    0
imdbId     0
tmdbId     8
dtype: int64

In [16]:
links.dropna(subset=['tmdbId'],inplace=True)

In [17]:
movies['genre'] = movies['genre'].str.replace(",",", ")

In [18]:
movies.rename(columns={'id':'tmdbId'},inplace=True)

In [19]:
movies_data = pd.merge(movies, links, how="left", on="tmdbId")

In [20]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001 entries, 0 to 10000
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tmdbId             10001 non-null  int64
 1   title              10001 non-null  object
 2   genre              9998 non-null   object
 3   original_language  10001 non-null  object
 4   overview           9988 non-null   object
 5   popularity         10001 non-null  float64
 6   release_date       10001 non-null  object
 7   vote_average       10001 non-null  float64
 8   vote_count         10001 non-null  int64
 9   movieId            5852 non-null   float64
 10  imdbId             5852 non-null   float64
dtypes: float64(4), int64(2), object(5)
memory usage: 859.6+ KB

In [21]:
movies_data.isnull().sum()

tmdbId                  0
title                   0
genre                   3
original_language       0
overview               13
popularity              0
release_date            0
vote_average            0
vote_count              0
movieId              4149
imdbId               4149
dtype: int64

In [22]:
movies_data.dropna(subset=['movieId','imdbId','overview','genre'], inplace=True)

In [23]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5851 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tmdbId             5851 non-null   int64
 1   title              5851 non-null   object
 2   genre              5851 non-null   object
 3   original_language  5851 non-null   object
 4   overview           5851 non-null   object
 5   popularity         5851 non-null   float64
 6   release_date       5851 non-null   object
 7   vote_average       5851 non-null   float64
 8   vote_count         5851 non-null   int64
 9   movieId            5851 non-null   float64
 10  imdbId             5851 non-null   float64
dtypes: float64(4), int64(2), object(5)
memory usage: 548.5+ KB

In [24]:
movies_data.head(10)

,tmdbId,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count,movieId,imdbId
0,278,The Shawshank Redemption,"Drama, Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862,318.0,111161.0
2,238,The Godfather,"Drama, Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280,858.0,68646.0
3,424,Schindler's List,"Drama, History, War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959,527.0,108052.0
4,240,The Godfather: Part II,"Drama, Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811,1221.0,71562.0
6,129,Spirited Away,"Animation, Family, Fantasy",ja,"A young girl, Chihiro, becomes trapped in a st...",92.056,2001-07-20,8.5,13093,5618.0,245429.0
9,372058,Your Name.,"Romance, Animation, Drama",ja,High schoolers Mitsuha and Taki are complete s...,158.270,2016-08-26,8.5,8895,163134.0,5311514.0
10,389,12 Angry Men,Drama,en,The defense and the prosecution have rested an...,31.946,1957-04-10,8.5,6533,1203.0,50083.0
13,497,The Green Mile,"Fantasy, Drama, Crime",en,A supernatural tale set on death row in a Sout...,69.118,1999-12-10,8.5,14162,3147.0,120689.0
15,155,The Dark Knight,"Drama, Action, Crime, Thriller",en,Batman raises the stakes in his war on crime. ...,82.230,2008-07-14,8.5,27925,58559.0,468569.0
16,429,"The Good, the Bad and the Ugly",Western,it,While the Civil War rages between the Union an...,47.730,1966-12-23,8.5,6747,1201.0,60196.0

In [25]:
movies_data.describe()

,tmdbId,popularity,vote_average,vote_count,movieId,imdbId
count,5851.000000,5851.000000,5851.000000,5851.000000,5851.000000,5.851000e+03
mean,50818.461972,25.008364,6.693283,2080.654247,43201.359938,7.393874e+05
std,93838.608823,33.553474,0.746937,3168.514913,50695.145043,1.061479e+06
min,5.000000,0.600000,4.600000,200.000000,1.000000,4.170000e+02
25%,6509.000000,9.715500,6.200000,412.000000,3075.500000,1.007490e+05
50%,11287.000000,14.205000,6.700000,884.000000,7930.000000,2.678910e+05
75%,36589.500000,25.747500,7.300000,2263.500000,79896.000000,1.056434e+06
max,500475.000000,612.270000,8.700000,31917.000000,193583.000000,7.690670e+06

In [26]:
movies_data.head(2)

,tmdbId,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count,movieId,imdbId
0,278,The Shawshank Redemption,"Drama, Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862,318.0,111161.0
2,238,The Godfather,"Drama, Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280,858.0,68646.0

In [27]:
# movies_metadata = movies_metadata[~ movies_metadata.imdb_id.isnull()]
# def app(x):
#  try:
#     return int(x[2:])
#  except ValueError:
#     print(x)
# movies_metadata['imdbId'] = movies_metadata.imdb_id.apply(app)
# movies_metadata = movies_metadata[~ movies_metadata.imdbId.isnull()]
# movies_metadata.imdbId = movies_metadata.imdbId.astype(int)
# movies_metadata = movies_metadata[['imdbId', 'poster_path', 'overview', 'vote_average']]
# movies_metadata.head()

In [28]:
movies_data = movies_data.drop(columns=["original_language","popularity"])

In [29]:
movies_data.columns

Index(['tmdbId', 'title', 'genre', 'overview', 'release_date', 'vote_average',
       'vote_count', 'movieId', 'imdbId'],
      dtype='object')

In [30]:
movies_data.head(10)

,tmdbId,title,genre,overview,release_date,vote_average,vote_count,movieId,imdbId
0,278,The Shawshank Redemption,"Drama, Crime",Framed in the 1940s for the double murder of h...,1994-09-23,8.7,21862,318.0,111161.0
2,238,The Godfather,"Drama, Crime","Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,8.7,16280,858.0,68646.0
3,424,Schindler's List,"Drama, History, War",The true story of how businessman Oskar Schind...,1993-12-15,8.6,12959,527.0,108052.0
4,240,The Godfather: Part II,"Drama, Crime",In the continuing saga of the Corleone crime f...,1974-12-20,8.6,9811,1221.0,71562.0
6,129,Spirited Away,"Animation, Family, Fantasy","A young girl, Chihiro, becomes trapped in a st...",2001-07-20,8.5,13093,5618.0,245429.0
9,372058,Your Name.,"Romance, Animation, Drama",High schoolers Mitsuha and Taki are complete s...,2016-08-26,8.5,8895,163134.0,5311514.0
10,389,12 Angry Men,Drama,The defense and the prosecution have rested an...,1957-04-10,8.5,6533,1203.0,50083.0
13,497,The Green Mile,"Fantasy, Drama, Crime",A supernatural tale set on death row in a Sout...,1999-12-10,8.5,14162,3147.0,120689.0
15,155,The Dark Knight,"Drama, Action, Crime, Thriller",Batman raises the stakes in his war on crime. ...,2008-07-14,8.5,27925,58559.0,468569.0
16,429,"The Good, the Bad and the Ugly",Western,While the Civil War rages between the Union an...,1966-12-23,8.5,6747,1201.0,60196.0

In [31]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5851 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tmdbId        5851 non-null   int64
 1   title         5851 non-null   object
 2   genre         5851 non-null   object
 3   overview      5851 non-null   object
 4   release_date  5851 non-null   object
 5   vote_average  5851 non-null   float64
 6   vote_count    5851 non-null   int64
 7   movieId       5851 non-null   float64
 8   imdbId        5851 non-null   float64
dtypes: float64(3), int64(2), object(4)
memory usage: 457.1+ KB

In [32]:
movies_data['tags'] = movies_data['overview'] + movies_data['genre']

In [33]:
count = movies_data["title"].count()

In [34]:
movies_data=movies_data.reset_index()

In [35]:
def remove_stopword(text):
    lemmat = nltk.stem.WordNetLemmatizer()
    pre_text = []
    words = text.split()
    for word in words:
        if word not in list_stopwords:
            pre_text.append(word)
        text2 = ' '.join(lemmat.lemmatize(x) for x in pre_text)
    return text2

In [36]:
for i in range(count):
    movies_data.loc[i,"tags"] = remove_stopword(movies_data["tags"][i])

In [37]:
movies_data.head(2)

,index,tmdbId,title,genre,overview,release_date,vote_average,vote_count,movieId,imdbId,tags
0,0,278,The Shawshank Redemption,"Drama, Crime",Framed in the 1940s for the double murder of h...,1994-09-23,8.7,21862,318.0,111161.0,"Framed 1940s double murder wife lover, upstand..."
1,2,238,The Godfather,"Drama, Crime","Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,8.7,16280,858.0,68646.0,"Spanning year 1945 1955, chronicle fictional I..."

In [38]:
compare_normalize = pd.DataFrame({"before":movies_data["overview"],"after":movies_data["tags"]})

In [39]:
pd.set_option('display.max_colwidth',None)
compare_normalize.head(10)

,before,after
0,"Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.","Framed 1940s double murder wife lover, upstanding banker Andy Dufresne begin new life Shawshank prison, put accounting skill work amoral warden. During long stretch prison, Dufresne come admired inmate -- including older prisoner named Red -- integrity unquenchable sense hope.Drama, Crime"
1,"Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.","Spanning year 1945 1955, chronicle fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives attempt life, youngest son, Michael step take care would-be killers, launching campaign bloody revenge.Drama, Crime"
2,The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.,"The true story businessman Oskar Schindler saved thousand Jewish life Nazis worked slave factory World War II.Drama, History, War"
3,"In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.","In continuing saga Corleone crime family, young Vito Corleone grows Sicily 1910s New York. In 1950s, Michael Corleone attempt expand family business Las Vegas, Hollywood Cuba.Drama, Crime"
4,"A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.","A young girl, Chihiro, becomes trapped strange new world spirits. When parent undergo mysterious transformation, must call upon courage never knew free family.Animation, Family, Fantasy"
5,"High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Taki’s body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.","High schoolers Mitsuha Taki complete stranger living separate lives. But one night, suddenly switch places. Mitsuha wake Taki’s body, hers. This bizarre occurrence continues happen randomly, two must adjust life around other.Romance, Animation, Drama"
6,"The defense and the prosecution have rested and the jury is filing into the jury room to decide if a young Spanish-American is guilty or innocent of murdering his father. What begins as an open and shut case soon becomes a mini-drama of each of the jurors' prejudices and preconceptions about the trial, the accused, and each other.","The defense prosecution rested jury filing jury room decide young Spanish-American guilty innocent murdering father. What begin open shut case soon becomes mini-drama jurors' prejudice preconception trial, accused, other.Drama"
7,"A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people's ailments. When the cell block's head guard, Paul Edgecomb, recognizes Coffey's miraculous gift, he tries desperately to help stave off the condemned man's execution.","A supernatural tale set death row Southern prison, gentle giant John Coffey posse mysterious power heal people's ailments. When cell block's head guard, Paul Edgecomb, recognizes Coffey's miraculous gift, try desperately help stave condemned man's execution.Fantasy, Drama, Crime"
8,"Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.","Batman raise stake war crime. With help Lt. Jim Gordon District Attorney Harvey Dent, Batman set dismantle remaining criminal organization plague streets. The partnership prof effective, soon find prey reign chaos unleashed rising criminal mastermind known terrified citizen Gotham Joker.Drama, Action, Crime, Thriller"
9,"While the Civil War rages between the Union and the Confederacy, three men – a quiet loner, a ruthless hit man and a Mexican bandit – comb the American Southwest in search of a strongbox containing $200,000 in stolen gold.","While Civil War rage Union Confederacy, three men – quiet loner, ruthless hit man Mexican bandit – comb American Southwest search strongbox containing $200,000 stolen gold.Western"

In [40]:
movies_data = movies_data.drop(columns=['index'])
movies_data.head(10)

,tmdbId,title,genre,overview,release_date,vote_average,vote_count,movieId,imdbId,tags
0,278,The Shawshank Redemption,"Drama, Crime","Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.",1994-09-23,8.7,21862,318.0,111161.0,"Framed 1940s double murder wife lover, upstanding banker Andy Dufresne begin new life Shawshank prison, put accounting skill work amoral warden. During long stretch prison, Dufresne come admired inmate -- including older prisoner named Red -- integrity unquenchable sense hope.Drama, Crime"
1,238,The Godfather,"Drama, Crime","Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.",1972-03-14,8.7,16280,858.0,68646.0,"Spanning year 1945 1955, chronicle fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives attempt life, youngest son, Michael step take care would-be killers, launching campaign bloody revenge.Drama, Crime"
2,424,Schindler's List,"Drama, History, War",The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.,1993-12-15,8.6,12959,527.0,108052.0,"The true story businessman Oskar Schindler saved thousand Jewish life Nazis worked slave factory World War II.Drama, History, War"
3,240,The Godfather: Part II,"Drama, Crime","In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.",1974-12-20,8.6,9811,1221.0,71562.0,"In continuing saga Corleone crime family, young Vito Corleone grows Sicily 1910s New York. In 1950s, Michael Corleone attempt expand family business Las Vegas, Hollywood Cuba.Drama, Crime"
4,129,Spirited Away,"Animation, Family, Fantasy","A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.",2001-07-20,8.5,13093,5618.0,245429.0,"A young girl, Chihiro, becomes trapped strange new world spirits. When parent undergo mysterious transformation, must call upon courage never knew free family.Animation, Family, Fantasy"
5,372058,Your Name.,"Romance, Animation, Drama","High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Taki’s body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.",2016-08-26,8.5,8895,163134.0,5311514.0,"High schoolers Mitsuha Taki complete stranger living separate lives. But one night, suddenly switch places. Mitsuha wake Taki’s body, hers. This bizarre occurrence continues happen randomly, two must adjust life around other.Romance, Animation, Drama"
6,389,12 Angry Men,Drama,"The defense and the prosecution have rested and the jury is filing into the jury room to decide if a young Spanish-American is guilty or innocent of murdering his father. What begins as an open and shut case soon becomes a mini-drama of each of the jurors' prejudices and preconceptions about the trial, the accused, and each other.",1957-04-10,8.5,6533,1203.0,50083.0,"The defense prosecution rested jury filing jury room decide young Spanish-American guilty innocent murdering father. What begin open shut case soon becomes mini-drama jurors' prejudice preconception trial, accused, other.Drama"
7,497,The Green Mile,"Fantasy, Drama, Crime","A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people's ailments. When the cell block's head guard, Paul Edgecomb, recognizes Coffey's miraculous gift, he tries desperately to help stave off the condemned man's execution.",1999-12-10,8.5,14162,3147.0,120689.0,"A supernatural tale set death row Southern prison, gentle giant John Coffey posse mysterious power heal people's ailments. When cell block's head guard, Paul Edgecomb, recognizes Coffey's miraculous gift, try desperately help stave condemned man's execution.Fantasy, Drama, Crime"
8,155,The Dark Knight,"Drama, Action, Crime, Thriller","Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.",2008-07-14,8.5,27925,58559.0,468569.0,"Batman raise stake war crime. With help Lt. Jim Gordon District Attorney Harvey Dent, Batman set dismantle remaining criminal organization plague streets. The partnership prof effective, soon find prey reign chaos unleashed rising criminal mastermind known terrified citizen Gotham Joker.Drama, Action, Crime, Thriller"
9,429,"The Good, the Bad and the Ugly",Western,"While the Civil War rages between the Union and the Confederacy, three men – a quiet loner, a ruthless hit man and a Mexican bandit – comb the American Southwest in search of a strongbox containing $200,000 in stolen gold.",1966-12-23,8.5,6747,1201.0,60196.0,"While Civil War rage Union Confederacy, three men – quiet loner, ruthless hit man Mexican bandit – comb American Southwest search strongbox containing $200,000 stolen gold.Western"

In [41]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [42]:
tf=TfidfVectorizer(analyzer='word', ngram_range=(1, 1), min_df=0.0)

In [43]:
tf

TfidfVectorizer(min_df=0.0)

In [44]:
matrix=tf.fit_transform(movies_data['tags'])

In [45]:
matrix.shape

(5851, 21203)

In [46]:
print(matrix)

  (0, 4537)	0.06400457467153611
  (0, 5840)	0.041501035074706746
  (0, 9089)	0.1157191872072639
  (0, 16835)	0.1494045720197937
  (0, 19907)	0.21157209823377715
  (0, 9821)	0.18569239964278972
  (0, 15423)	0.14483089376661212
  (0, 12781)	0.10116765155219079
  (0, 14710)	0.146259010815716
  (0, 13345)	0.132659356239523
  (0, 9556)	0.12588251112147986
  (0, 9729)	0.17141383015707679
  (0, 551)	0.18569239964278972
  (0, 3885)	0.09353798146835918
  (0, 18160)	0.17614097290631758
  (0, 11308)	0.10986625332287449
  (0, 5991)	0.12438157572434273
  (0, 20480)	0.17141383015707679
  (0, 936)	0.20202067149730504
  (0, 20928)	0.09859901837134584
  (0, 17328)	0.14159888579825133
  (0, 445)	0.21157209823377715
  (0, 15003)	0.1084936291541583
  (0, 14709)	0.22794689338466828
  (0, 17014)	0.21157209823377715
  :	:
  (5849, 12974)	0.06894125906800787
  (5850, 7798)	0.34077105694537313
  (5850, 10730)	0.34077105694537313
  (5850, 1031)	0.2280678897575626
  (5850, 20509)	0.29323885027132834
  (5850, 1552)	0.2515554132023542
  (5850, 7005)	0.24494011450619388
  (5850, 4240)	0.2553527697306185
  (5850, 15097)	0.1851089746194231
  (5850, 15737)	0.19196393869688572
  (5850, 10556)	0.21366933266164437
  (5850, 489)	0.21366933266164437
  (5850, 3924)	0.2464889785205205
  (5850, 6686)	0.17427224378245898
  (5850, 596)	0.10091499635006924
  (5850, 491)	0.0900765716499477
  (5850, 11649)	0.12435871540340207
  (5850, 4913)	0.15788041812116696
  (5850, 16905)	0.14681252992793387
  (5850, 19616)	0.12711218533909707
  (5850, 6994)	0.12022857250983013
  (5850, 17599)	0.15550827701857592
  (5850, 5840)	0.06684412408250634
  (5850, 12781)	0.1629468528030006
  (5850, 20748)	0.147156936826952

In [47]:
from sklearn.metrics.pairwise import cosine_similarity

In [48]:
similarity=cosine_similarity(matrix)

In [49]:
similarity

array([[1.        , 0.01991024, 0.00970764, ..., 0.        , 0.0605234 ,
        0.03270394],
       [0.01991024, 1.        , 0.0106358 , ..., 0.01291344, 0.01052524,
        0.01948909],
       [0.00970764, 0.0106358 , 1.        , ..., 0.01246508, 0.08142744,
        0.00457762],
       ...,
       [0.        , 0.01291344, 0.01246508, ..., 1.        , 0.02338756,
        0.02043552],
       [0.0605234 , 0.01052524, 0.08142744, ..., 0.02338756, 1.        ,
        0.00487906],
       [0.03270394, 0.01948909, 0.00457762, ..., 0.02043552, 0.00487906,
        1.        ]])

In [50]:
movies_data=movies_data.drop(columns=['tags'])
movies_data.head(2)

,tmdbId,title,genre,overview,release_date,vote_average,vote_count,movieId,imdbId
0,278,The Shawshank Redemption,"Drama, Crime","Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.",1994-09-23,8.7,21862,318.0,111161.0
1,238,The Godfather,"Drama, Crime","Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.",1972-03-14,8.7,16280,858.0,68646.0

In [51]:
movies_data

,tmdbId,title,genre,overview,release_date,vote_average,vote_count,movieId,imdbId
0,278,The Shawshank Redemption,"Drama, Crime","Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.",1994-09-23,8.7,21862,318.0,111161.0
1,238,The Godfather,"Drama, Crime","Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.",1972-03-14,8.7,16280,858.0,68646.0
2,424,Schindler's List,"Drama, History, War",The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.,1993-12-15,8.6,12959,527.0,108052.0
3,240,The Godfather: Part II,"Drama, Crime","In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.",1974-12-20,8.6,9811,1221.0,71562.0
4,129,Spirited Away,"Animation, Family, Fantasy","A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.",2001-07-20,8.5,13093,5618.0,245429.0
...,...,...,...,...,...,...,...,...,...
5846,297596,Dying of the Light,"Thriller, Drama","Evan Lake, a veteran CIA agent, has been ordered to retire. But when his protégé uncovers evidence that Lake's nemesis, the terrorist Banir, has resurfaced, Lake goes rogue, embarking on a perilous, intercontinental mission to eliminate his sworn enemy.",2014-12-04,4.7,260,118248.0,1274586.0
5847,10196,The Last Airbender,"Action, Adventure, Fantasy","The story follows the adventures of Aang, a young successor to a long line of Avatars, who must put his childhood ways aside and stop the Fire Nation from enslaving the Water, Earth and Air nations.",2010-06-30,4.7,3347,78893.0,938283.0
5848,331446,Sharknado 3: Oh Hell No!,"Action, TV Movie, Science Fiction, Comedy, Adventure","The sharks take bite out of the East Coast when the sharknado hits Washington, D.C. and Orlando, Florida.",2015-07-22,4.7,417,136305.0,3899796.0
5849,13995,Captain America,"Action, Science Fiction, War","During World War II, a brave, patriotic American Soldier undergoes experiments to become a new supersoldier, ""Captain America"". Racing to Germany to sabotage the rockets of Nazi baddie ""Red Skull"", Captain America winds up frozen until the 1990s. He reawakens to find that the Red Skull has changed identities and is now planning to kidnap the President of the United States.",1990-12-14,4.6,332,26764.0,103923.0
5850,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure, Fantasy, Action, Drama","A man named Farmer sets out to rescue his kidnapped wife and avenge the death of his son -- two acts committed by the Krugs, a race of animal-warriors who are controlled by the evil Gallian.",2007-11-29,4.7,668,57326.0,460780.0

In [52]:
import pickle

In [53]:
pickle.dump(movies_data, open('movies.pkl', 'wb'))

In [54]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))